body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

#logo-section {
    background-color: #be3144;
    padding: 2px;
}

#logo {
    text-align: center;
    font-size: 40px;
    margin: 5px;
    color: white;
}

/* switch "logged-out" to "logged-in" if want to see login screen */
.logged-out {
    display: none;
}

#login-section {
    max-width: 500px;
    min-width: 300px;
    margin: 13% auto;
}

.login-input {
    margin-top: 10px;
    width: 100%;
    min-height: 2em;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.login-label {
    display: block;
    margin: 10px 0;
}

#login-button {
    margin-left: 40%;
    margin-top: 20px;
    padding: 10px 20px;
}

.hidden {
    display: none;
}

#game-messages {
    display: none;
    overflow: auto;
    width: 400px;
    height: 600px;
    text-align: center;
}

#instructions-section, #leaderboard-section, #config-section  {
    position: absolute;
    overflow: auto;
    height: 700px;
    width: 700px;
    top: 15%;
    z-index: 999;
}

.rule {
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
}

.centered {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
} 

.centered-text {
    text-align: center;
}

.menu {
    display: inline-block;
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    background-color: #be3144;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #d92538;
}

.close {
    background-color: rgb(220, 0, 0);
}

.window {
    padding: 20px;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#board {
    display: grid;
    width: 600px;
    height: 600px;
}

.square {
    background-color: #d9d9d9;
    border: 2px solid #be3144;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pieces {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.white-piece {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
}

.black-piece {
    width: 60px;
    height: 60px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 50%;
}

#game-phase {
    padding: 10px;
    text-align: center;
    width: 500px;
    height: 50px;
    z-index: 1;
}

#game-phase-text {
    font-size: 20px;
    color: black;
}

#forfeit {
    display: none;
}

#logout-section {
    position: absolute;
    z-index: 0;
} 

#logged-in-userId {
    display: inline;
    font-weight: bold;
}

.flex-bot {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-container {
   display: flex;
   flex-direction: column;
}

.flex-left {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    width: 350px;
}

.flex-top {
    display: flex;
    justify-content: center;
}

.leaderboard-table {
    width: 100%;
}

.leaderboard-table th, .leaderboard-table td {
    padding: 10px;
    text-align: left;
}

.leaderboard-table th {
    background-color: #be3144;
    color: #fff;
}

.leaderboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.leaderboard-table tr:nth-child(odd) {
    background-color: #e5e5e5;
}