body {
    font-family: Arial, sans-serif;
    margin: 0;
}


#logo-section {
    background-color: #be3144;
    padding: 2px;
}

#logo {
    text-align: center;
    font-size: 40px;
    margin: 5px;
    color: white;
}


.logged-out {
    display: none;
}

#login-section {
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    padding-top: 10%;
}

.login-input {
    margin-top: 10px;
    width: 100%;
    min-height: 2em;
}

.login-label {
    display: block;
    margin: 0.5rem 0;
}


.command {
    display: inline-block;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

#leaderboard-section, #instructions-section, #config-section {
    position: absolute;
    border: 6px groove black;
    background-color: white;
    z-index: 2;
    padding: 10px;
}

#leaderboard-section, #instructions-section, #how-to-play-div {
    display: none;
}

.rule {
    padding: 10px;
}

#config-section {
    margin-top: 8%;
    margin-left: 40%;
}


.centered-text {
    text-align: center;
}

.close {
    color: red;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}


